@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
$backgroundColor:hsl(233, 47%, 7%);
$cardbackgroundColor:hsl(244, 38%, 16%);
$textColorAccent:hsl(277, 64%, 61%);
$main-heading: hsl(0, 0%, 100%);
$main-paragraph:hsla(0, 0%, 100%, 0.75);
$state-heading:hsla(0, 0%, 100%, 0.6);
$font-inter:Inter;
$font-lexend:Lexend Deca;